.training-container {
  padding: 20px;
}
.training-table-container-engineerr{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0056b3;
  width: 100%;
}
.training-table-container-engineerr{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.training-home-and-sort-title-eng {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 70px;
  align-items: center;
  padding-left: 30px;
  background-color: rgb(4, 35, 83);
  color: white;
  font-size: small;
  font-family: -apple-system;
}

.training-home-and-sort-title {
  margin-left: 10px;
}

.training-search-and-export {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.training-export-buttons {
  display: flex;
}

.export-btn-csv-eng,
.export-btn-pdf-eng {
  margin-right: 10px;
  padding: 8px 12px;
  background-color: rgb(4, 35, 83);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.export-btn-csv-eng:hover,
.export-btn-pdf-eng:hover {
  background-color: rgba(4, 36, 83, 0.877);
}

.search-container {
  position: relative;
  width: 200px;
}

.search-icon1 {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.add-training-btn:hover {
  background-color: #218838;
}
.add-btn,
.cancel-btn {
  padding: 8px 12px;
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-btn:hover,
.cancel-btn:hover {
  background-color: #0056b3;
}

.training-table-container {
  margin-top: 20px;
  background-color: red;
}

.training-management-thead-engineer {
  padding: 5px;
  background-color: #05185a;
  color: #fff;
  font-family: -apple-system;
  font-size: medium;
}
.training-management-table-fields-eng {
  padding: 5px;
  font-family: -apple-system;
  font-size: medium;
}
