.announcements-main-title-nurse{
    display: flex;
    color: white;
}
.announcement-main-nurse{
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    padding-left: 20px;
    font-size: small;
    font-family: -apple-system;
    background-color: rgb(2, 26, 70); 

}
.announcement-description-nurse{
    color: black;
    padding: 7px;
    height: 100%;
    font-size:medium;
    background-color: rgb(240, 240, 240);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.announcement-heading-nurse{
    display: flex;
    flex-direction: row;
    color: white;
    background-color: rgb(2, 26, 70);
    padding: 7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: medium;
    font-family: -apple-system;  
}
.individual-announcement-display-nurse{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
.announcememnt-moment{
    margin-left: 20px;
    font-size: small;
}
.main-individual-nurse{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(
        auto-fit,
        minmax(200px, 330px)
      );
    row-gap: 20px;
 
    padding-left: 10px;
    padding-right: 10px;
    font-size: medium;
    margin-top: 80px;
    font-family: -apple-system;
}
.tick-seen{
    font-size: large;
}