body{
   overflow-y:auto;
   overflow-x: auto;
}
.etb{
    background-color: rgba(32, 185, 101, 0.986);
    color: white;
    padding-right: 7px;
    padding-left: 7px;
    border-radius: 5px;
}
.real-number-data{
    font-size: medium;
    color: rgb(77, 82, 50);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
   }
.main-notification-count-display-admin{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    left: -15px;
    top: -3px;
    border: 2px solid white;
    font-size: small;
    color: rgb(245, 245, 245);
    background: none;
    margin-left: 10px;
    border-radius:5px;
    font-family: -apple-system;
    background-color: rgb(13, 151, 94);
}
.short-cuts-head{
    display: flex;
    flex-direction: column;
    background: none;
    row-gap: 7px;
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
}
.dash-schedule-maintenance,
.alert-and-notif-show,
.dashboard-schedule-maint,
.admin-shortcut-device-overview{

    width:100%;
 
}
.nav-section1,
.nav-section2{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 5px;
    color: white;
    width: max-content;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:rgb(240, 242, 243);
}
.admin-schedule-maintenance:hover,
.admin-shortcut-device-overview:hover,
.pending-requests:hover,
.dashboard-schedule-maint:hover,
.alert-and-notif-show:hover,
.sorts:hover,
.reports:hover{
    transition: all 0.3s ; 
    cursor: pointer;
    padding-right: 10px;
    background-color: #07612913;
}
.dashboard-schedule-maint{
  padding-right: 20px;
}
.schedule-maintenance,
.pending-requests,
.alert-and-notif-show,
.dash-schedule-maintenance,
.dashboard-schedule-maint,
.admin-shortcut-device-overview{
    display: flex;
    align-items: center;
    color: rgb(36, 33, 33);
    font-weight: bold;
    font-size: medium;
    width: fit-content;
    border-radius: 10px;
    font-family:-apple-system;
    margin-left: 20px;
}
.sorts{
    display: flex;
    align-items: center;
    color: white;
    font-size: x-large;
    justify-content: center;
    background-color: red;
}
.the-main-dashboard-icons{
    margin-right: 10px;
    font-size: medium;
    min-width: 12px;
    min-height:12px;
    background-color: rgb(16, 158, 87);
    color: rgb(235, 235, 235);
    padding: 5px;
    border-radius: 5px;
}
.dashboard-icons-bell{
    font-size: medium;
    background-color: rgb(5, 34, 112);
    padding: 7px;
    color: white;
    border-radius: 50%;
    margin-right: 5px;
    min-width: 15px;
    min-height: 15px;
}
.head-my-link{
    text-decoration: none;
    color: white;
}
.three-sections{
  display: flex;
  align-items: start;
  justify-content:space-between;
  flex-direction: row;
  height: 100%;
  margin-top: 80px;
  column-gap: 7px;
  padding: 10px;
}
.paired{
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}
.nav-section3{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    row-gap: 10px;
    margin-top: 5px;
}
.main-classs-head{
    display: flex;
    flex-direction: column;
    background-color: #d8d5d5;
}
.holder{
    display: flex;
    align-items: center;
}
.the-title-nav-main-class{
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: end;
    padding-bottom: 7px;
    font-family:-apple-system;
    background-color: rgb(15, 139, 52);
    color: white;
    height: 70px;
    width: 100%;
    padding-left: 30px;
    margin-bottom: 30px;
    z-index: 100;
}

.piecharts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 50px;
    padding-left:50px;
}
.bell-and-notification-count{
    display: flex;
}
.notification-null-count{
    opacity: 0;
}
.admin-piechart-in-the-dashboard{
    display: grid;
    grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 400px)
  );
    align-items: center;
    justify-content: center;
    background:none;
    padding: 20px;
   
}
.main-my-linkk{
    background-color: rgb(122, 48, 48);
}
.dashboard-computer-and-title{
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size:x-large;
}
.bottombar-description{
    padding: 20px;
}
.analytical-device-data{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    width: 100%;
}
.analytical-data-and-charts{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    justify-content: space;
    height: fit-content;
    width: 1000px;
}
.first-section-doughnuts{
    display: flex;
    border-radius: 5px;
    width: 100%;
    column-gap: 7px;
}
@media (min-width: 500px) {
    .the-two-doughnuts {
        display: grid;
      grid-template-columns: 1fr;
    }
  }
@media (min-width: 900px) {
    .the-two-doughnuts {
        display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
@media (min-width: 1300px) {
    .the-two-doughnuts {
        display: grid;
      grid-template-columns: 1fr 1fr 1fr ;
    }
  }
  .links-background{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-image: url('a2.jpg');
    filter: blur(5px);
  }
  .piechart-background{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-image: url('a2.jpg');
    filter: blur(0px);
  }
  .content{
    position: relative;
  }
 .head-piechart-in-the-dashboardd{
    display: flex;
    align-items: top;
    background:none;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 10px;
    column-gap: 7px;
 }
 .head-dashboard-bottom-bar{
    height: 200px;
    background-color: rgba(182, 184, 184, 0.445);
 }
 .tick-tick{
    display: flex;
    font-size: x-large;
    margin-left: 10px;
 }
 .admin-piechart-holder-status111,
 .admin-piechart-holder-department111,
 .admin-piechart-holder-department-cost111{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.781);
    width: 100%;
 }
 
 .dashboard-input-and-picture{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 300px;
 }
 .dashboard-input{
    border: none;
    outline: none;
    width: 500px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(223, 221, 221)
 }
 .input-and-search-icon{
    display: flex;
    align-items: center;
    font-size: large;
    font-family: -apple-system;
    padding-left: 10px;
    color: black;
    background-color: rgb(223, 221, 221);
    border-radius: 15px;
 }
 .search-icon-dashboard{
    cursor: pointer;
    font-size: large;
    margin-right: 10px;
 }
 .the-navigation-title{
    font-size: medium;
 }
 .analytical-icons11,
.analytical-icons22,
.analytical-icons33,
.analytical-icons44,
.analytical-icons55,
.analytical-icons66{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: medium;
  font-family: -apple-system;
  border-radius: 5px;
  font-weight:200;
  width: 100%;
  height: 60px;
  color: rgb(61, 60, 60);
  background-color: rgb(241, 241, 241);
}
.analytical-icons1:hover,
.analytical-icons2:hover,
.analytical-icons3:hover,
.analytical-icons4:hover,
.analytical-icons5:hover,
.analytical-icons6:hover{
   cursor: pointer;
}
.analytical-icons1{
 background-color: rgb(245, 245, 245);
  color: black;
}
.analytical-icons2{
  background-color: rgb(245, 245, 245);
  color: black;
}
.analytical-icons3{
  background-color: rgb(245, 245, 245);
  color: black;
}
.analytical-icons4{
  background-color: rgb(245, 245, 245);
  color: black;
}
.analytical-icons5{
  background-color: rgb(245, 245, 245);
  color: black;
}
.analytical-icons6{
  background-color: rgb(245, 245, 245);
  color: black;
}
.uf{
  background-color: rgb(167, 14, 134);
}
.icon-and-title2{
    display: flex;
    align-items: left;
    font-size: 12px;
    justify-content: left;
    column-gap: 5px;    
    width: 100%;
    padding-left: 15px;
    color: rgb(48, 47, 47);
   }
   .ecg{
    background-color: lightgreen;
    padding: 3px;
    border-radius: 50%;
   }