.main-analysis-s{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 1100px;
}
.hour-class{
  background-color: rgb(169, 230, 56);
  font-size: small;
  padding-right: 4px;
  padding-left:5px;
  border-radius: 5px;
}
.div1{
  display: flex;
   width: 100%;
   column-gap: 20px;
   background-color: green;
}
.div2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.div3{
  background: none;
  margin-top: 10px;
  width: 1000px;
}

h4{
  font-size: medium;
  text-wrap: nowrap;
  font-family: -apple-system;
}
.individual-data:hover{
  background-color: rgba(226, 224, 224, 0.3);
  cursor: pointer;
}

.analytical-icons7,
.analytical-icons8,
.analytical-icons9,
.analytical-icons10{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: -apple-system;
  border-radius: 5px;
  font-weight:200;
  width: 100%;
  color: rgb(255, 255, 255);
  padding: 0px 5px 5px;
}

.analytical-icons7{
  background-color: rgb(245, 245, 245);
  color: black;
}
.analytical-icons8{
  background-color: rgb(245, 245, 245);
  color: black;
}
.analytical-icons10{
  background-color: rgb(245, 245, 245);
  color: black;
}
.analytical-icons9{
  background-color: rgb(245, 245, 245);
  color: black;
}


@media (min-width: 500px) {
    .main-analysis {
        display: grid;
      grid-template-columns: 1fr 1fr ;
    }
  }
@media (min-width: 660px) {
    .main-analysis {
        display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
@media (min-width: 920px) {
    .main-analysis {
        display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
@media (min-width: 1157px) {
    .main-analysis {
        display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
@media (min-width: 1400px) {
    .main-analysis {
        display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
@media (min-width: 1336px) {
    .main-analysis {
        display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
 
 .etb{
  font-size: small;
  margin-right: 5px;
 }
 .di1{
  font-size: large;
  background-color: lightgreen;
  padding: 5px;
  border-radius: 50%;
 }
 .dollar{
  display: flex;
  align-items: center;
  font-size: large;
 }
 .icon-and-titlee{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  padding: 5px;
  width: 100%;
  margin-top: 5px;
  font-size: 13px;
  font-weight: bold;
 }
 